<html>
<head>
    <title>Django Блог</title>
</head>
<body>
<div>
    <h1><a href="/">Django Блог</a></h1>
</div>
<div>
    <p>Опубликовано: 14.06.2014, 12:14</p>
    <h2><a href="">Мой первый пост</a></h2>
    <p>Москва. 20 сентября. INTERFAX.RU — Вашингтон в четверг объявил о внесении в санкционный список 27 физических лиц
        и шести юридических лиц из России, связанных с разведывательными службами и оборонными учреждениями.</p>
</div>
<div>
    <p>Опубликовано: 14.06.2014, 12:14</p>
    <h2><a href="">Мой второй пост</a></h2>
    <p>Ограничительные меры вводятся в рамках закона о санкциях CAATSA («Акт о противодействии противникам Америки
        посредством санкций»), направленного на сдерживание торговли Россией вооружением.</p>
</div>
</body>
</html>